.form {
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 83, 158);
}
.select{
    margin-left:290px;
}

.pick label{
    margin-top: 10px;
    font-size: 19px;
    color: white;
}
.pick input{
    margin-top: 7px;
}
.form h2{
    font-size: 40px;
     color: White;
     font-weight: bold;
}
.btn{
    /* background-color: rgb(255, 253, 255);
    color: rgb(209, 33, 153); */
    font-weight: 700;
    font-size: 20px;
    width:25%;
    margin-top: 40px;
    border:none;
}
.btn:hover{
    background-color: rgb(238,83,158);
    color:white;
}

